# --- Python & Backend ---
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
.ipynb_checkpoints/

# --- Node & Frontend ---
node_modules/
dist/
.DS_Store

# --- Datasets Grandes (NO SUBIR A GITHUB) ---
# Git tiene límite de 100MB. Los csv grandes se ignoran.
machine-learning/datasets/**/*.csv
machine-learning/datasets/**/*.xlsx

# --- IDEs ---
.vscode/
.idea/


# --- Bloquear archivos pesados de ML ---
*.pkl
*.joblib
*.h5
*.model

# --- Excepciones (Opcional) ---
# Si tu modelo final del backend pesa menos de 100MB y lo necesitas subir:
 !backend/modelo_salarial_xgb.pkl
 !backend/model_features.pkl